* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.0rem;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.kb{
  align: middle;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}

.dialogue{
   border-style: solid;
  border-color: green;
  padding-left: 10px;
}

#selectedentities{
  align: middle;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  table-layout:fixed;
}

.q{
  align: center;
   border-style: solid;
  border-color: green;
  border-width: 3px;
}


#entities{
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

#entitiesSelect{
  font-size: 3.2rem;
  width:100px;
}

.submitButton{
  height:100px;
    width:100px;
}

h1, h2 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: normal;
  padding: 0.5rem 0 0 0;
}


#buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*padding: 0.5rem 0;*/
}

#buttons button {
  font-size: 1rem;
  padding: 1rem;
  width: calc(50% - 0.25rem);
  /*padding: 0.5rem 0;*/
}

button {
  font-size: 1rem;
  background: #0088cc;
  text-align: center;
  color: white;
  border: 1rem;
  transition: all 0.2s;
  padding: 0.5rem;
}

button:hover, button:focus {
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 1);
  background: #0ae;
  cursor: pointer;
}

button:active {
  box-shadow: inset 0px 0px 20px rgba(0,0,0,0.5);
  transform: translateY(2px);
}


button.delete {
  background: #f00;
  padding: 0.5rem 0.75rem;
  font-size: 0.8rem;
}

